.container__width {
  margin: 0 auto;
}

.text--center {
  text-align: center;
}

.hr-accent {
  margin: 30px auto 10px auto;
  color: var(--accent-color);
}

.animate-transition {
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}