.container__width {
  margin: 0 auto;
}

.text--center {
  text-align: center;
}

.hr-accent {
  margin: 30px auto 10px auto;
  color: var(--accent-color);
}

.animate-transition {
  transition: all 2s;
}